---
layout: page
title: Kendime Notlar
subtitle: .net teknolojileri, docker, sql ve nosql veri tabanları, performans optimizasyonu ve verimlilik artıran geliştirici araçları ile ilgili yazılar  
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">{% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}Ocak
        {% when '2' %}Şubat
        {% when '3' %}Mart
        {% when '4' %}Nisan
        {% when '5' %}Mayıs
        {% when '6' %}Haziran
        {% when '7' %}Temmuz
        {% when '8' %}Ağustos
        {% when '9' %}Eylül
        {% when '10' %}Ekim
        {% when '11' %}Kasım
        {% when '12' %}Aralık
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Devamını&nbsp;Oku]</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
