---
layout: page
title: Notes to myself
subtitle: blog posts about .net technologies, docker, sql ve nosql databases, performans optimization, ci/cd and developer tools related with productivity
lang: en
ref: index-page  
---

<div class="posts-list">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      <span class="post-date">
        <strong>Date:</strong>
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}{{ site.t_date[page.lang].January }}
          {% when '2' %}{{ site.t_date[page.lang].February }}
          {% when '3' %}{{ site.t_date[page.lang].March }}
          {% when '4' %}{{ site.t_date[page.lang].April }}
          {% when '5' %}{{ site.t_date[page.lang].May }}
          {% when '6' %}{{ site.t_date[page.lang].June }}
          {% when '7' %}{{ site.t_date[page.lang].July }}
          {% when '8' %}{{ site.t_date[page.lang].August }}
          {% when '9' %}{{ site.t_date[page.lang].September }}
          {% when '10' %}{{ site.t_date[page.lang].October }}
          {% when '11' %}{{ site.t_date[page.lang].November }}
          {% when '12' %}{{ site.t_date[page.lang].December }}
        {% endcase %}
        {{ post.date | date: "%Y" }}
      </span>
      <span class="post-level">
        <strong>Level:</strong> {{post.level }}
      </span>
    </p>

    <div class="post-entry">
      {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Continue&nbsp;Reading]</a>
    </div>

   </article>
  {% endfor %}
</div>
